// Import The vaiables //
@use "../variables/index.scss" as *;

.home {
  position: relative;
  .landing-info {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .info-block {
      box-shadow: 0 0 21px 3px rgb(0 0 0 / 49%);
      width: 60%;
      height: 338px;

      border-radius: 6px;
      display: flex;
      align-items: center;
      flex-direction: column;
      h2 {
        margin: 60px;
        font-weight: 700;
      }
      .info {
        padding: 0px 40px 40px 40px;
        text-align: center;
        p {
          font-size: 14px;
        }
      }
    }
  }
}

.footer {
  position: absolute;
  background: #fff;
  width: 60%;
  height: 40px;
  bottom: 0;
  left: 50%;
  transform: translateX(-40%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 0.9;

  p {
    font-weight: 400;
    font-size: 14px;
    color: $text_dark_color;
    margin: 0 8px !important;
  }
}
// Dark theme styling
#light .info-block,
#light .footer {
  background-color: $first_light_BG;
  color: $dark-primary-color;
}
#dark .info-block,
.footer {
  background-color: $secondary-dark-color;
  color: $text-white;
}
#dark .icon {
  color: $text-white;
}
#light .icon {
  color: $text_dark_color;
}
#dark .footer p {
  color: $text-white;
}
