// Colors
$dark-primary-color: #1e1e1e;
$secondary-dark-color: #242424;
$border_dark_color: #3d3d3d;
$border_light_color: #ebebeb;
$primary-color: #5ba6c6;
$secondary-color: #acb63f;
$text-white: #f0f0f0;
$text-dark-min: #b6b6b6;
$text_dark_color: #454545;
$first_light_BG: rgb(255, 255, 255);
$second_light_BG: #daedff;
$wight_BG: #ffffff;
// Text sizes
$text-size-s: 13px;
$text-size-m: 16px;
$text-size-l: 18px;
$text-size-xl: 25px;
$text-size-xxl: 38px;
