/* // Globall Styling // */
* {
  box-sizing: border-box;
}
p {
  margin: 0 !important;
}
.App {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}
.loading {
  position: absolute;
  width: 87%;
  height: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5ba6c6;
  z-index: 44444;
}
.loading-c.p-img {
  position: absolute;
  left: 46%;
  top: 12%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba(0 0 0 / 50%);
}
#light {
  background-color: #daedff;
}
#dark {
  background-color: #1e1e1e;
}
#dark input {
  color-scheme: dark;
}
.light {
  color: #fff !important;
}
.black {
  color: #242424 !important;
}

.container {
  height: calc(100% - 70px);
}
.center {
  justify-content: center;
  display: flex !important;
  align-items: center;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 150%;
}

ul {
  text-decoration: none;
  margin: 0;
  list-style: none;
}
.gradient-custom {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, #5ba6c6, #acb63f);
}

* {
  transition: all 0.5s ease-in-out;
}

.custom-container {
  width: 60%;
}

#quote-box {
  position: absolute;
  bottom: 68px;
  right: 38px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.child1 {
  margin-right: 10px;
}

.child2 {
  margin-right: 10px;
}
.child3 {
  flex-grow: 1;
}

.child1 .btn,
.child2 .btn {
  background-color: #5ba6c6 !important;
  border: none;
}

.child3 .btn {
  background-color: #acb63f;
  border: none;
  padding: 6px 40px;
}

#author {
  margin-top: 15px;
  font-size: 14px;
}
.card-text {
  font-size: 19px;
}

@media (max-width: 445px) {
  .child3 {
    margin-top: 10px;
  }
}
#new-quote {
  width: 100%;
}

#dark .jumbotron .card {
  background-color: #242424;
  color: #fff;
}
